# Sample WireGuard client config
# Copy to wg0.conf and fill in your actual keys
# DO NOT commit wg0.conf to git!

[Interface]
PrivateKey = <YOUR_PRIVATE_KEY>
Address = 10.8.0.x/24
DNS = 1.1.1.1
MTU = 1420
Table = off

[Peer]
PublicKey = <SERVER_PUBLIC_KEY>
PresharedKey = <PRESHARED_KEY>
AllowedIPs = 10.8.0.0/24
PersistentKeepalive = 25
Endpoint = <SERVER_ENDPOINT>:51820
